// <---- THE CODE VIEW SWITCH

.display.icons.code {
  width: 50%;
  position: absolute;
  margin-left: -2000px;
  top: 0;
  left: 0;
  nav.icon {
    width: 100%;
    background-color: white;
    border-bottom: 6px solid $accent;
    button {
      border: 6px solid white;
      padding: 0;
      i {
        &:hover {
          color: $accent;
        }
      }
      &:focus {
        border: 6px solid $highlight;
      }
    }
    button.copy {
      position: relative;
    }
  }
                      
}

.display.icons.code .preview {
  .cssFormat {
    transition: transform 0.8s ease-in;
    p {
      @include firas(15px, normal, normal, 1.6);
    }
  }

  span.red {
    color: rgb(236, 55, 55);
    @include firas(15px, normal, normal, 1.6);
  }

  span.brown {
    color: rgb(90, 63, 63);
    @include firas(15px, normal, normal, 1.6);
  }

  span.green {
    color: rgb(113, 138, 113);
    @include firas(15px, normal, normal, 1.6);
  }

  span.blue {
    color: rgb(33, 124, 199);
    @include firas(15px, normal, normal, 1.6);
  }
}

// functionality only - hidden element
.css {
  width: 0;
  height: 0;
  display: none;
}

.display.icons.code .toaster {
  display: none;
  width: 200px;
  height: 40px;
  position: absolute; //anchored at button.copy
  top: 30px;
  left: 40px;
  color: $accent;
  background: darken($font, 20);
  opacity: 0.8;
  h4 {
    margin: 5px;
    font-size: 18px;
  }
}
