// SPECIFICALLY THE CODE VIEW FORM
.code {
  display: flex; /* this can be applied with javaScript on show */
  flex-direction: column;
  .display {
    .preview {
      flex: 7;
      height: 100%;
      padding: 2.5%;
    }
  }
}

.code {
  // display: none;
}

// preview button
.default {
  width: auto;
  height: 50px;
  border: none;
  background-color: $shade;
  color: $font;
  text-decoration: none;
  font-family: "Arial", sans-serif;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 1.2;
  line-height: normal;
  text-align: center;
}

.code .display .preview {
  .cssFormat p {
    @include firas(15px, normal, normal, 1.6);
  }

  span.red {
    color: rgb(236, 55, 55);
    @include firas(15px, normal, normal, 1.6);
  }

  span.brown {
    color: rgb(90, 63, 63);
    @include firas(15px, normal, normal, 1.6);
  }

  span.green {
    color: rgb(113, 138, 113);
    @include firas(15px, normal, normal, 1.6);
  }

  span.blue {
    color: rgb(33, 124, 199);
    @include firas(15px, normal, normal, 1.6);
  }
}
