// SPECIFICALLY THE EDITING FORM

// editing display
.edit {
  display: flex;
  // display area
  .display {
    flex: 5;
    height: 100%;
    display: flex;
    flex-direction: column;
    .preview {
      flex: 6; /* in relation to nav.icon */
      width: 100%;
      padding: 5%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  // editing controls
  .controls {
    flex: 2;
    flex-basis: 150px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: white;
    border-left: 8px solid $accent;
  }
}

.edit .option {
  width: 100%;
  height: auto;
  padding: 5%;
  transition: background 1s;
  // drop-down button
  .select {
    display: flex;
    align-items: center;
    // text on the drop-down button
    .text {
      flex: 3; /* in relation to .icon */
      text-align: left;
      margin-left: 2%;
    }
    // icon on the drop-down button
    .icon {
      flex: 1; /* in relation to .text */
      display: inline-block;
      text-align: right;
      i {
        color: $pop;
      }
    }
  }
  .menu {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    display: none;
    button {
      background-color: white;
      color: $font;
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: center;
      span.itemOption {
        width: 70%;
        border: 2px solid $accent;
        display: flex;
        text-decoration: none;
        input#color,
        input#text {
          width: 100%;
          height: 60%;
          border: none;
        }
        input#gradient1,
        input#gradient2 {
          width: 50%;
          border: 2px solid $accent;
        }
        
      }
      span.item {
        width: 30%;
      }
    }
    button.noFill {
      display: block;
    }
  }
}


.edit .option.title .display {
  border: none;
  nav.icon {
    background: none;
  }
}
