// SPECIFICALLY THE EDITING FORM

form.edit {
  border-bottom: 50px solid $accent;
}

// editing display
.edit {
  display: flex;
  // display area
  .display {
    flex: 5;
    height: 100%;
    display: flex;
    flex-direction: column;
    .preview {
      flex: 6; /* in relation to nav.icon */
      width: 100%;
      padding: 5%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  // editing controls
  .controls {
    flex: 2;
    flex-basis: 150px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: white;
    border-left: 8px solid $accent;
  }
}

.edit .option.text:hover input {
  background-color: white;
}

.edit .option.text input:focus {
  background-color: white;
}

.edit .option {
  width: 100%;
  height: auto;
  padding: 5%;
  transition: background 1s;
  &:hover {
    background-color: $accent;
  }
  // drop-down button
  .select {
    display: flex;
    align-items: center;
    // text on the drop-down button
    .text {
      flex: 3; /* in relation to .icon */
      text-align: left;
      margin-left: 2%;
    }

    // icon on the drop-down button
    .icon {
      flex: 1; /* in relation to .text */
      display: inline-block;
      text-align: right;
      i {
        color: $pop;
      }
    }
  }
  .menu {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    display: none;
    button {
      background-color: white;
      color: $font;
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: center;
      span.itemOption {
        width: 70%;
        height: auto;
        border: 2px solid $accent;
        display: flex;
        text-decoration: none;
        input {
          padding: 0;
          margin: 0;
        }
        input#color,
        input#text,
        input#border {
          width: 100%;
          border: none;
          &:focus {
            border: 2px solid $highlight;
          }
        }
        input#gradient1,
        input#gradient2 {
          width: 50%;
          border: 2px solid $accent; // nice divider between the two gradients
          &:focus {
            border: 2px solid $highlight;
          }
        }
      }
      span.item {
        width: 30%;
      }
    }
    button.noFill {
      display: block;
    }
  }
}

.edit .option.title .display {
  border: none;
  nav.icon {
    flex: 1;
    padding: 0;
    background: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    h2 span {
      height: 80%;
      margin-top: 10px;
    }
    button {
      height: 100%;
      &:focus i {
        color: $bold;
      }
      i {
        color: $font;
        &:hover {
          color: $bold;
        }
      }
    }
  }
}

.edit .option .stylesMenu {
  button {
    span {
      width: 100%;
      text-align: center;
    }
  }
}

.selected {
  background-color: $pop !important;
}
