// EDIT DISPLAY

// all form labels
form label {
  margin: 0;
  padding: 0 0 2% 2%;
  @include franks(18px, bold, normal, normal);
  display: block;
}

// all form input (text)
form input[type="text"] {
  padding-left: 8px;
  background-color: $highlight;
  border: 4px solid $accent;
  color: $font;
  transition: background 1s;
}

form.edit {
  width: 100%;
  border: 8px solid $accent;
  border-bottom: 50px solid $accent;
  position: relative;
  display: flex;
  @include tablet-port {
    flex-direction: column;
  }
  .display {
    flex: 5;
    height: 100%;
    display: flex;
    flex-direction: column;
    @include tablet-port {
      border-bottom: 6px solid $accent;
    }
    nav.icon {
      flex: 1;
      flex-basis: 50px;
      width: 100%;
      padding: 1% 2%;
      text-align: right;
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: $accent;
      @include tablet-port {
        padding-left: 10%;
        padding-right: 10%;
      }
      @include mobile-port {
        flex-basis: 100px;
      }
      h2 {
        @include mobile-port {
          font-size: 28px;
        }
      }
      h2 span {
        @include mobile-port {
          display: none;
        }
      }
      button {
        height: 100%;
        width: 100px;
        background: none;
      }
    }
    .preview {
      flex: 6;
      width: 100%;
      padding: 5%;
      display: flex;
      justify-content: center;
      align-items: center;
      @include tablet-port {
        padding: 10%;
      }
      @include mobile-land {
        padding: 15%;
      }
    }
  }
}

// EDIT CONTROLS

.edit .controls {
  flex: 2;
  flex-basis: 150px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: white;
  border-left: 8px solid $accent;
  @include tablet-port {
    border-left: none;
    padding: 10%;
  }
  .options {
    flex: 6;
  }
}

.edit .controls .option.text:hover input {
  background-color: white;
}

.edit .controls .option.text input:focus {
  background-color: white;
}

.edit .controls {
  nav.icon {
    flex: 1;
    flex-basis: 35px;
    padding: 2% 4%;
    background: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    h2 {
      @include mobile-port {
        font-size: 28px;
      }
    }
    h2 span {
      @include mobile-port {
        display: none;
      }
    }
    button {
      height: 100%;
      width: 80px;
      background-color: white;
      border: 6px solid white;
      &:focus {
        border: 6px solid $highlight;
      }
      &:hover {
        border: 6px solid $highlight;
      }
      &:focus i {
        color: $bold;
      }
      i {
        color: $font;
        &:hover {
          color: $bold;
        }
      }
    }
  }
}

.edit .controls .option.text,
.edit .controls .option.style,
.edit .controls .option.fill {
  &:hover {
    background-color: $accent;
  }
}

.edit .controls .option {
  width: 100%;
  height: auto;
  padding: 5%;
  transition: background 1s;
  // drop-down button
  .select {
    display: flex;
    align-items: center;
    // text on the drop-down button
    .text {
      flex: 3; /* in relation to .icon */
      text-align: left;
      margin-left: 2%;
    }
    // icon on the drop-down button
    .icon {
      flex: 1; /* in relation to .text */
      display: inline-block;
      text-align: right;
      i {
        color: $pop;
      }
    }
  }
}

// Drop Down Menu and Items
.edit .controls .option .menu {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  display: none;
  button {
    background-color: white;
    color: $font;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    span.itemOption {
      width: 70%;
      height: auto;
      border: 2px solid $accent;
      display: flex;
      text-decoration: none;
      input {
        padding: 0;
        margin: 0;
      }
      input#color,
      input#text,
      input#border {
        width: 100%;
        border: none;
        &:focus {
          border: 2px solid $highlight;
        }
      }
      input#gradient1,
      input#gradient2 {
        width: 50%;
        border: 2px solid $accent; // divider btwn the 2 gradients
        &:focus {
          border: 2px solid $highlight;
        }
      }
    }
    span.item {
      width: 30%;
    }
  }
  button.noFill {
    display: block;
  }
}

.edit .option .stylesMenu {
  button {
    span {
      width: 100%;
      text-align: center;
    }
  }
}

.selected {
  background-color: $pop !important;
}

// preview button
.default {
  width: 200px;
  height: 60px;
  border: 4px solid #d9d1c3;
  color: $font;
  background: $shade;
  font-family: "Arial", sans-serif;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 1.2;
  line-height: normal;
  text-align: center;
  border-radius: none;
  border-bottom: 4px solid #d9d1c3;
}

button.discard .toaster {
  top: 0;
  left: 0;
  color: $font;
  background: white;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  padding: 3%;
  padding-right: 5%;
  i {
    flex: 1;
  }
  h3 {
    font-size: 17px;
    flex: 2;
    margin: 5%;
  }
  button {
    flex: 2;
    padding: 2%;
    flex-basis: 50px;
    width: 60% !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    &:focus {
      border: 6px solid $highlight;
    }
    h4 {
      color: $font;
      flex: 1;
      font-size: 18px;
      flex: 1;
    }
  }
}
