// GENERAL FORMS
form {
  height: 600px;
  border: 8px solid $accent;
}

form {
  .display {
    nav.icon {
      flex: 1;
      width: 100%;
      padding: 1% 2%;
      text-align: right;
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: $accent;
      button {
        width: 10%;
        background: none;
      }
    }
  }
} 

// all form labels
form label {
  margin: 0;
  padding: 0 0 0 2%;
  @include font('Libre Franklin', 16px, normal, normal, normal);
}

form input[type="text"] {
  padding-left: 8px;
  background-color: $pop;
  border: 4px solid $accent;
  color: $font;
}



// SPECIFICALLY THE EDITING FORM

// editing display
.edit {
  display: flex;
  // display area
  .display {
    flex: 5; 
    height: 100%;
    display: flex;
    flex-direction: column;
    .preview {
      flex: 6; /* in relation to nav.icon */
      width: 100%;
      padding: 5%;
      display: flex;
      justify-content: center;
      align-items: center;
      button {
        width: 40%;
      }
    }
  }
  // editing controls
  .controls {
    flex: 2;
    flex-basis: 150px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: $shade;
    border-left: 8px solid $accent;
  }
}


// preview button
.default {
  width: auto;
  height: 50px;
  border: none;
  background-color: $shade; 
  color: $font;
  text-decoration: none;
  font-family: 'Arial', sans-serif;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 1.2;
  line-height: normal;
}


.edit .option {
  width: 100%;
  height: auto;
  padding: 5%;
  // drop-down button
  .select {
    display: flex;
    align-items: center;
    // text on the drop-down button
    .text {
      flex: 3; /* in relation to .icon */
      text-align: left;
      margin-left: 2%;
    }
    // icon on the drop-down button
    .icon {
      flex: 1; /* in relation to .text */
      display: inline-block;
      text-align: right;
    }
  }
  .menu {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    display: none;
  }
}

.edit .option.title .display {
  border: none;
  nav.icon {
    background: none;
  }
}



// SPECIFICALLY THE CODE VIEW FORM
.code {
  display: flex; /* this can be applied with javaScript on show */
  flex-direction: column;
  .display {
    .preview {
      flex: 7;
      height: 100%;
      padding: 2.5%;
    }
  }
}

.code {
  // display: none;
}



