@mixin joses($size, $weight, $spacing, $height) {
  font-family: "Josefin Sans", sans-serif;
  font-size: $size;
  font-weight: $weight;
  letter-spacing: $spacing;
  line-height: $height;
}

@mixin notos($size, $weight, $spacing, $height) {
  font-family: "Noto Serif", serif;
  font-size: $size;
  font-weight: $weight;
  letter-spacing: $spacing;
  line-height: $height;
}

@mixin franks($size, $weight, $spacing, $height) {
  font-family: "Libre Franklin", sans-serif;
  font-size: $size;
  font-weight: $weight;
  letter-spacing: $spacing;
  line-height: $height;
}

@mixin firas($size, $weight, $spacing, $height) {
  font-family: "Fira Code", monospace;
  font-size: $size;
  font-weight: $weight;
  letter-spacing: $spacing;
  line-height: $height;
}

@mixin tablet-port() {
  @media (max-width: 960px) {
    @content;
  }
}

@mixin mobile-port() {
  @media (max-width: 380px) {
    @content;
  }
}

